<div class="item-card item-card-side" style="height:auto;">
    <div class="card-img-cont">
        <img src="{{productPhotoUrl}}" alt="">
    </div>
    <div>
        <p class="txt-dark-l subtitle">{{productSubtitle}}</p>
        <p class="product-title">{{productTitle}}</p>

        <div class="item-buy">
            <p class="price">${{productPrice}}</p>
            <div class="cart-cont">
                <img src="assets/img/cart.svg" alt="">
            </div>
        </div>

        <div class="item-wish">
            <p class="txt-dark-l">
                <img src="assets/img/autorenew.svg" alt="">
                &nbsp;Compare
            </p>
            <p class="txt-dark-l">
                <img src="assets/img/favorite.svg" alt="">
                &nbsp;Wishlist
            </p>
        </div>
    </div>
</div>