<section class="shop-now">
    <div class="container">
        <div class="shop-now-group">

            <div class="shop-item">
                <div class="img-cont">
                    <img src="assets/img/camera.png" alt="">
                </div>
                <div class="txt-cont">
                    <h2>CATHCH BIG</h2>
                    <h2><span>DEALS</span> ON THE</h2>
                    <h2>CAMERAS</h2>
                    <button>
                        <p>Shop now</p>
                        <p class="arrow">&raquo;</p>
                    </button>
                </div>
            </div>

            <div class="shop-item">
                <div class="img-cont">
                    <img src="assets/img/camera.png" alt="">
                </div>
                <div class="txt-cont">
                    <h2>CATHCH BIG</h2>
                    <h2><span>DEALS</span> ON THE</h2>
                    <h2>CAMERAS</h2>
                    <button>
                        <p>Shop now</p>
                        <p class="arrow">&raquo;</p>
                    </button>
                </div>
            </div>

            <div class="shop-item">
                <div class="img-cont">
                    <img src="assets/img/camera.png" alt="">
                </div>
                <div class="txt-cont">
                    <h2>CATHCH BIG</h2>
                    <h2><span>DEALS</span> ON THE</h2>
                    <h2>CAMERAS</h2>
                    <button>
                        <p>Shop now</p>
                        <p class="arrow">&raquo;</p>
                    </button>
                </div>
            </div>

            <div class="shop-item">
                <div class="img-cont">
                    <img src="assets/img/camera.png" alt="">
                </div>
                <div class="txt-cont">
                    <h2>CATHCH BIG</h2>
                    <h2><span>DEALS</span> ON THE</h2>
                    <h2>CAMERAS</h2>
                    <button>
                        <p>Shop now</p>
                        <p class="arrow">&raquo;</p>
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>