<section class="product-types">
    <div class="container">
        <div class="product-types-group">
            <div class="featured">
                <div class="product-type">

                    <h3 class="product-type-title">Featured Products</h3>

                    <div class="product-item">
                        <img src="assets/img/headphone.jpg" alt="">
                        <div class="product-txt">
                            <p>Purple Wireless Headphones Solo 2 HD</p>
                            <p>$1149.00</p>
                        </div>
                    </div>

                    <div class="product-item">
                        <img src="assets/img/headphone.jpg" alt="">
                        <div class="product-txt">
                            <p>Purple Wireless Headphones Solo 2 HD</p>
                            <p>$1149.00</p>
                        </div>
                    </div>

                    <div class="product-item">
                        <img src="assets/img/headphone.jpg" alt="">
                        <div class="product-txt">
                            <p>Purple Wireless Headphones Solo 2 HD</p>
                            <p>$1149.00</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="onsale">
                <div class="product-type">

                    <h3 class="product-type-title">Onsale Products</h3>

                    <div class="product-item">
                        <img src="assets/img/headphone.jpg" alt="">
                        <div class="product-txt">
                            <p>Purple Wireless Headphones Solo 2 HD</p>
                            <p>$1149.00</p>
                        </div>
                    </div>

                    <div class="product-item">
                        <img src="assets/img/headphone.jpg" alt="">
                        <div class="product-txt">
                            <p>Purple Wireless Headphones Solo 2 HD</p>
                            <p>$1149.00</p>
                        </div>
                    </div>

                    <div class="product-item">
                        <img src="assets/img/headphone.jpg" alt="">
                        <div class="product-txt">
                            <p>Purple Wireless Headphones Solo 2 HD</p>
                            <p>$1149.00</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="toprated">
                <div class="product-type">

                    <h3 class="product-type-title">Top Rated Products</h3>

                    <div class="product-item">
                        <img src="assets/img/headphone.jpg" alt="">
                        <div class="product-txt">
                            <p>Purple Wireless Headphones Solo 2 HD</p>
                            <p>$1149.00</p>
                        </div>
                    </div>

                    <div class="product-item">
                        <img src="assets/img/headphone.jpg" alt="">
                        <div class="product-txt">
                            <p>Purple Wireless Headphones Solo 2 HD</p>
                            <p>$1149.00</p>
                        </div>
                    </div>

                    <div class="product-item">
                        <img src="assets/img/headphone.jpg" alt="">
                        <div class="product-txt">
                            <p>Purple Wireless Headphones Solo 2 HD</p>
                            <p>$1149.00</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>