<section class="banner">
    <div class="container">
        <div class="banner-heading-group">
            <button class="btn-all-departments">
                <img src="assets/img/list.svg" alt="">
                All Departments
                <div class="menu-all-departments">
                    <h3>Value of the Day</h3>
                    <h3>Top 100 Offers</h3>
                    <h3>New Arrivals</h3>
                    <p>Computers & Accessories &gt;</p>
                    <p>Cameras, Audio & Video &gt;</p>
                    <p>Mobiles & Tablets &gt;</p>
                    <p>Movies, Music & Video Game &gt;</p>
                    <p>TV & Audio &gt;</p>
                    <p>Watches & Eyewear &gt;</p>
                    <p>Car, Motorbike & Industrial &gt;</p>
                    <p>Accessories &gt;</p>
                </div>
            </button>
            <div class="banner-tab">
                <button class="active mega-menu-cont">Super Deals &raquo;
                    <div class="mega-menu">
                        <h3>Home & Static Pages</h3>
                        <a href="#">Home v1</a>
                        <a href="#">Home v2</a>
                        <a href="#">Home v3</a>
                        <a href="#">Home v3.1</a>
                        <a href="#">Home v4</a>
                        <a href="#">Home v5</a>
                        <a href="#">Home v6</a>
                        <a href="#">Home v7</a>
                        <a href="#">About</a>
                        <a href="#">Contact v1</a>
                        <a href="#">Contact v2</a>
                        <a href="#">FAQ</a>
                        <a href="#">Store Directory</a>
                        <a href="#">Terms and Conditions</a>
                        <a href="#">404</a>
                        <h3>Shop Pages</h3>
                        <a href="#">Shop Grid</a>
                        <a href="#">Shop Grid Extended</a>
                        <a href="#">Shop List View</a>
                        <a href="#">Shop List View Small</a>
                        <a href="#">Shop Left Sidebar</a>
                        <a href="#">Shop Full width</a>
                        <a href="#">Shop Right Sidebar</a>
                        <h3>Product Categories</h3>
                        <a href="#">4 Column Sidebar</a>
                        <a href="#">5 Column Sidebar</a>
                        <a href="#">6 Column Full width</a>
                        <a href="#">7 Column Full width</a>
                        <h3>Single Product Pages</h3>
                        <a href="#">Single Product Extended</a>
                        <a href="#">Single Product Fullwidth</a>
                        <a href="#">Single Product Sidebar</a>
                        <h3>Ecommerce Pages</h3>
                        <a href="#">Shop</a>
                        <a href="#">Cart</a>
                        <a href="#">Checkout</a>
                        <a href="#">My Account</a>
                        <a href="#">Track your Order</a>
                        <a href="#">Compare</a>
                        <h3>Blog Pages</h3>
                        <a href="#">Blog v1</a>
                        <a href="#">Blog v2</a>
                        <a href="#">Blog v3</a>
                        <a href="#">Blog Full Width</a>
                        <a href="#">Single Blog Post</a>
                        <h3>Shop Columns</h3>
                        <a href="#">7 Column Full width</a>
                        <a href="#">6 Column Full width</a>
                        <a href="#">5 Column Sidebar</a>
                        <a href="#">4 Column Sidebar</a>
                        <a href="#">3 Column Sidebar</a>
                    </div>
                </button>
                <button>Featured Brands</button>
                <button>Trending Styles</button>
                <button>Gift Cards</button>
            </div>
            <div>
                <p>Free Shipping on Orders $50+</p>
            </div>
        </div>
    </div>

    <div class="banner-content">
        <div class="container">
            <div class="banner-group">
                <div class="banner-txt">
                    <p class="title-1">THE NEW</p>
                    <p class="title-2">STANDARD</p>
                    <p class="subtitle">UNDER FAVORABLE SMART WATCHES</p>
                    <p class="from">FROM</p>
                    <p class="price"><sup>$</sup>749<sup>99</sup></p>
                    <button class="c2a">Start Buying</button>
                </div>
                <div>
                    <img src="../../../assets/img/wrist-watch.png" alt="">
                </div>
            </div>
        </div>
    </div>

</section>