<div class="item-card item-card-big" style="height:auto;">
    <p class="txt-dark-l subtitle">Lorem</p>
    <p class="product-title">Lorem ipsum dolor sit amet consectetur.</p>
    <img src="assets/img/game-control-big.jpg" alt="">

    <div class="thumb">
        <img src="assets/img/game-control.jpg" alt="">
        <img src="assets/img/game-control.jpg" alt="">
        <img src="assets/img/game-control.jpg" alt="">
    </div>

    <div class="item-buy">
        <p class="price">$145.00</p>
        <div class="cart-cont">
            <img src="assets/img/cart.svg" alt="">
        </div>
    </div>

    <div class="item-wish">
        <p class="txt-dark-l">
            <img src="assets/img/autorenew.svg" alt="">
            &nbsp;Compare
        </p>
        <p class="txt-dark-l">
            <img src="assets/img/favorite.svg" alt="">
            &nbsp;Add to Wishlist
        </p>
    </div>
</div>